<style type="text/css">.pop_main{height:300px;width:800px;background-color:#FFEAAA;background-image:url(images/new/innerbg.jpg);background-repeat:repeat;}body{margin:0px;padding:0px;}.qr{float:left;height:270px;width:250px;margin-top:9px;margin-left:25px;background-repeat:no-repeat;}.qr_2{height:192px;width:192px;margin-top:40px;margin-left:30px;}.map{float:left;height:250px;width:475px;margin-top:15px;margin-left:25px;border:5px solid #DB7D26;}.logo{float:left;height:210px;width:410px;margin-top:30px;margin-left:33px;}</style>
</head>
<body>
<div class="pop_main">
<div class="qr">
<div class="qr_2"><img src="assets/img/map.jpeg" width="210" height="210"></div>
</div>
<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.8039358947362!2d80.61691399999998!3d7.2631409999999965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae368b1215040c1%3A0x66141722bd8d0396!2sRandholee+Luxury+Resort+Kandy!5e0!3m2!1sen!2slk!4v1430972580057" width="475" height="250" frameborder="0" style="border:0"></iframe><br/>
</div>
</div>
<script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"ae1830ef7b6671343b24b7185b56d2dd",petok:"633b86f4b8956f201585fc63e4f3e4d70c69c0d6-1446277352-86400",zone:"randholeeresorts.com",rocket:"a",apps:{}}];document.write('<script type="text/javascript" src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=b0bfc08c34/cloudflare.min.js"><'+'\/script>');}}catch(e){};
//]]>
</script>
</body>
