<h1>Freudenberg Leisure Dashboard</h1>
<ul>
	<li><a href="<?php echo SITE_URL.'/manage/freudenberg/'; ?>">Freudenberg Leisure Main Site</li>
	<li>Randholee Resorts</li>
	<li>Firs</li>
	<li>Ellens Place</li>
</ul>