<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Freudenberg Leisure | Contact Us</title>
    </head>
    <body>
        <div style="width: 100%; height: auto; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59); background-color: #fff;">
            <div style="margin-bottom: 1%; text-align: center;">
                <img src="{{header_image}}" width=40% height=40% alt="Freudenberg Leisure - Ellens Place"/>
            </div>
            <div style="text-align: center; background: url({{hotel_logo}}) repeat; padding: 1%; font-weight:600; color: #FFF; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important; -webkit-box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">
                <h2 style="color: #FFF;">Messages / Comments / Inquiries - {{date_string}}</h2>
            </div>
            <div style="margin-top:2%; margin-bottom: 2%; z-index: 2; position: relative; height: auto;">
                <table width="100%" cellspacing="0" border="0">
                    <tr>
                        <td>&nbsp;</td>
                        <td width="8%" style="text-align: center;">
                            <div style="font-family:Helvetica Light sans-serif; position: relative; text-align: center; font-weight: 800; padding: 20% 0%; font-size:18px; background-color: #FFFFFF; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">1</div>
                        </td>
                        <td width="2%">&nbsp;</td>
                        <td width="20%" style="text-align: left;">
                            <div style="font-family:Helvetica Light sans-serif; position: relative; font-weight: 600; background-color: #FFFFFF; padding: 8% 0% 8% 25%; font-size:18px; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">Name</div>
                        </td>
                        <td width="2%">&nbsp;</td>
                        <td width="50%" style="margin-left: 5%;">
                            <div style="font-family:Helvetica Light sans-serif; font-size:18px; color:rgba(102,102,102,1); padding: 3% 2% 3% 6%; position: relative; background-color: #FFFFFF; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">{{name}}
                            </div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td width="8%" style="text-align: center;">
                            <div style="font-family:Helvetica Light sans-serif; position: relative; text-align: center; font-weight: 800; padding: 20% 0%; font-size:18px; background-color: #FFFFFF; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">2</div>
                        </td>
                        <td width="2%">&nbsp;</td>
                        <td width="20%" style="text-align: left;">
                            <div style="font-family:Helvetica Light sans-serif; position: relative; font-weight: 600; background-color: #FFFFFF; padding: 8% 0% 8% 25%; font-size:18px; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">E-Mail</div>
                        </td>
                        <td width="2%">&nbsp;</td>
                        <td width="50%" style="margin-left: 5%;">
                            <div style="font-family:Helvetica Light sans-serif; font-size:18px; color:rgba(102,102,102,1); padding: 3% 2% 3% 6%; position: relative; background-color: #FFFFFF; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">
                            {{email}}
                            </div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td valign="top" style="text-align: center;">
                            <div style="font-family:Helvetica Light sans-serif; position: relative; text-align: center; font-weight: 800; padding: 20% 0%; font-size:18px; background-color: #FFFFFF; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">3</div>
                        </td>
                        <td>&nbsp;</td>
                        <td valign="top" style="text-align: left;">
                            <div style="font-family:Helvetica Light sans-serif; position: relative; font-weight: 600; background-color: #FFFFFF; padding: 8% 0% 8% 25%; font-size:18px; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">IP Address</div>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <div style="font-family:Helvetica Light sans-serif; font-size:18px; color:rgba(102,102,102,1); padding: 3% 2% 3% 6%; position: relative; background-color: #FFFFFF; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">
                            {{ip_address}}
                            </div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td width="8%" style="text-align: center;">
                            <div style="font-family:Helvetica Light sans-serif; position: relative; text-align: center; font-weight: 800; padding: 20% 0%; font-size:18px; background-color: #FFFFFF; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">4</div>
                        </td>
                        <td width="2%">&nbsp;</td>
                        <td width="20%" style="text-align: left;">
                            <div style="font-family:Helvetica Light sans-serif; position: relative; font-weight: 600; background-color: #FFFFFF; padding: 8% 0% 8% 25%; font-size:18px; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">Contact No.</div>
                        </td>
                        <td width="2%">&nbsp;</td>
                        <td width="50%" style="margin-left: 5%;">
                            <div style="font-family:Helvetica Light sans-serif; font-size:18px; color:rgba(102,102,102,1); padding: 3% 2% 3% 6%; position: relative; background-color: #FFFFFF; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">
                                {{contact_no}}
                            </div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td valign="top" style="text-align: center;">
                            <div style="font-family:Helvetica Light sans-serif; position: relative; text-align: center; font-weight: 800; padding: 20% 0%; font-size:18px; background-color: #FFFFFF; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">5</div>
                        </td>
                        <td>&nbsp;</td>
                        <td valign="top" style="text-align: left;">
                            <div style="font-family:Helvetica Light sans-serif; position: relative; font-weight: 600; background-color: #FFFFFF; padding: 8% 0% 8% 25%; font-size:18px; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">Country</div>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <div style="font-family:Helvetica Light sans-serif; font-size:18px; color:rgba(102,102,102,1); padding: 3% 2% 3% 6%; position: relative; background-color: #FFFFFF; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">
                                {{country}}
                            </div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td valign="top" style="text-align: center;">
                            <div style="font-family:Helvetica Light sans-serif; position: relative; text-align: center; font-weight: 800; padding: 20% 0%; font-size:18px; background-color: #FFFFFF; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">6</div>
                        </td>
                        <td>&nbsp;</td>
                        <td valign="top" style="text-align: left;">
                            <div style="font-family:Helvetica Light sans-serif; position: relative; font-weight: 600; background-color: #FFFFFF; padding: 8% 0% 8% 25%; font-size:18px; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">Message</div>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <div style="font-family:Helvetica Light sans-serif; font-size:18px; color:rgba(102,102,102,1); padding: 3% 2% 3% 6%; position: relative; background-color: #FFFFFF; border-radius: 0px; border-bottom: solid transparent; box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59) !important;">
                                {{comments}}                         
                            </div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
            <div style="color: #714A1B; background: url({{footer_image}}) repeat; padding: 20px 0 20px 0; border-top: 3px solid #a0ce5f ; text-align: center;  box-shadow: 0px 0px 6px 0px rgba(74, 50, 39, 0.59);">
                <span>
                    <a href="{{hotel_url}}" style="color: #fff; line-height: 32px; font-size: 20px; font-family: futura-pt , sans-serif;" target="_blank"><img src="{{main_logo}}" width="250"/></a>
                </span>
            </div>
        </div>
    </body>
</html>